{% extends "index.twig" %}

{% block navigation %}
    {% include 'applicant_navigation.twig' %}
{% endblock %}

{% block content %}

<section class="dashboard-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                {% include 'applicant_sidebar.twig' %}
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="heading-inner first-heading">
                        <p class="title">My Followings</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="company-list">
                            {% if companies|length == 0 %}
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <h4 class="search-result-text">You haven't followed any company yet.</h4>
                                </div>
                            {% endif %}
                            {% for org in companies %}
                                <div class="company-box">
                                    <div class="col-md-2 col-sm-2 col-xs-12 nopadding">
                                        <a href="/home/companyinfo/{{ org.user_id_fk }}">
                                            <div class="company-list-img"><img src="/uploads/{{ org.logo|default('logo.jpg') }}" alt="find Construction jobs in UK" class="img-responsive"></div>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                                        <div class="company-list-name">
                                            <a href="/home/companyinfo/{{ org.user_id_fk }}"><h5>{{ org.company_name }}</h5> </a>
                                            <p>{{ org.address~" "~org.city~" "~org.provience }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-6 nopadding">
                                        <span class="pull-left">Totle Jobs ({{ org.totalJobs|e }})</span>
                                    </div>
                                    {# <div class="col-md-2 col-sm-2 col-xs-6 nopadding">
                                        <span class="pull-right">New Jobs <span class="badge">(10)</span></span>
                                    </div> #}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {# <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="pagination-box clearfix">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="#" aria-label="Next"> <span aria-hidden="true">Next</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}