<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <h4 class="search-result-text">
                    {% if keyword != empty %}
                        showing {{ courses|length ~ " " ~keyword }} courses.
                    {% endif %}
                </h4>
                {# <h4 class="search-result-text">Showing 4 of 4 available job(s)</h4> #}
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="all-jobs-list-box">
                    {% if courses|length == 0 %}
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <h4 class="search-result-text">No Course Found !</h4>
                        </div>
                    {% endif %}
                    {% for course in courses %}
                        <div class="job-box job-box-2 expire-box ribbon-content cstm-job-box">
                            <div class="job-title-box">
                                <a href="/home/courseinfo/{{ course.id }}">
                                    <div class="job-title">{{ course.title }}</div>
                                </a>
                                <a href="#"><span class="job-type comp-name">{{ course.company_name }}</span></a>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p><i class="fa fa-file-o" aria-hidden="true"></i> {{ course.course_type }}</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p><i class="fa fa-gbp" aria-hidden="true"></i> {{ course.price|e ~"/"~ course.price_type }}</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="joblistlogo"><img src="/uploads/{{ course.logo|default('logo.jpg') }}" alt="Railway construction management logo"></div>
                                </div>  
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p class="jt-full-time-color"> <i class="fa fa-clock-o"></i> {{course.duration }}</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <a href=""><p><i class="fa fa-tags"></i> {{ course.course_category|e }}</p></a>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <p>{{ course.description|raw|slice(0,150) }}...</p>
                                <p><a href="/home/courseinfo/{{ course.id }}"><i class="fa fa-eye"></i> Read More</a> 
                                {% if userType and userType == 2 %}
                                    <a href="javascript:void(0)" onclick="jQuery('#courseid').val({{ course.id }})" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope"></i>  Enquire Now</a>
                                {% endif %}
                                </p>
                                {# <div class="expire-job-box">
                                    <span class="expire-date"> This job will Expire on <strong>{{ job.last_date|date("d M, Y") }}</strong></span>
                                </div> #}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                    <div class="pagination-box clearfix">
                        <div class="cstm-pagination pagination">
                            {{ links|raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <aside>
                    <div class="widget">
                        <div class="widget-heading"><span class="title">Course Categories</span></div>
                        <ul class="categories-module">
                            {% set selectedCats = searchCategories|split(",") %}
                            {% for cat in categories %}
                                <li><input type="checkbox" {% if cat.id in selectedCats %} checked {% endif %} name="coursecat" value="{{ cat.id }}"> <a href=""> {{ cat.course_category }}<span>({{ cat.coursesCount }})</span> </a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="widget-heading"><span class="title">Course Types</span></div>
                        <ul class="categories-module job-type">
                            {% set selectedTypes = searchCoursetype|split(",") %}
                            {% for type in courseTypes %}
                                <li><input type="checkbox" {% if type.id in selectedTypes %} checked {% endif %} name="coursetype" value="{{ type.id }}"> <a href=""> {{ type.course_type }}<span>({{ type.coursesCount }})</span> </a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {# <div class="widget">
                        <div class="widget-heading"><span class="title">Hot Jobs</span></div>
                        <ul class="related-post">
                            <li>
                                <a href="#">Assistant Manager Procurement </a>
                                <span><i class="fa fa-map-marker"></i>Managgo, WC </span>
                                <span><i class="fa fa-calendar"></i>March 22, 2015 - Apr 07, 2016 </span>
                            </li>
                            <li>
                                <a href="#">Marketing Professionals Required</a>
                                <span><i class="fa fa-map-marker"></i>Homelando, New Vage </span>
                                <span><i class="fa fa-calendar"></i>Sep 01, 2015 - Aug 09, 2016</span>
                            </li>
                            <li>
                                <a href="#">Mobile App Programmers </a>
                                <span><i class="fa fa-map-marker"></i>Homelando, New Vage </span>
                                <span><i class="fa fa-calendar"></i>Feb 01, 2015 - March 09, 2016 </span>
                            </li>
                            <li>
                                <a href="#">General Compliance Officer</a>
                                <span><i class="fa fa-map-marker"></i>Arlington, VA </span>
                                <span><i class="fa fa-calendar"></i>Jun 01, 2015 - Feb 09, 2016</span>
                            </li>
                            <li>
                                <a href="#">Call Centre Manager</a>
                                <span><i class="fa fa-map-marker"></i>Managgo, WC  </span>
                                <span><i class="fa fa-calendar"></i>Feb 01, 2015 - March 09, 2016</span>
                            </li>
                            <li>
                                <a href="#">Assistant Manager Audit</a>
                                <span><i class="fa fa-map-marker"></i>Heling, WC </span>
                                <span><i class="fa fa-calendar"></i>Aug 01, 2015 - Sep 09, 2016 </span>
                            </li>
                            <li>
                                <a href="#">Telesales Agent (UK Dialing)</a>
                                <span><i class="fa fa-map-marker"></i>Somro, New </span>
                                <span><i class="fa fa-calendar"></i>Sep 01, 2015 - Nov 09, 2016</span>
                            </li>
                            <li>
                                <a href="#">Assistant Brand Manager</a>
                                <span><i class="fa fa-map-marker"></i>Heritage, VA </span>
                                <span><i class="fa fa-calendar"></i>Dec 01, 2015 - May 09, 2016</span>
                            </li>
                        </ul>
                    </div> #}
                </aside>
            </div>
        </div>
    </div>
</div>