{% extends "index.twig" %}

{% block navigation %}
    {% include 'applicant_navigation.twig' %}
{% endblock %}

{% block content %}

<section class="dashboard parallex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="dashboard-header">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="user-avatar ">
                            <img src="/uploads/{{ user.profile_image|default('profile.jpg') }}" alt="vacancy of Construction jobs in London" class="img-responsive center-block "></a>
                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="rad-info-box rad-txt-success">
                            <i class="icon icon-presentation"></i>
                            <span class="title-dashboard">Followings</span>
                            <span class="value"><span>{{ user.followings|e }}</span></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="rad-info-box rad-txt-success">
                            <i class="icon icon-aperture"></i>
                            <span class="title-dashboard">Jobs Applied</span>
                            <span class="value"><span>{{ user.jobsApplied|e }}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% include 'applicant_sidebar.twig' %}
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="resume-box">
                        <div class="heading-inner">
                            <p class="title">Personal Information</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12 col-sm-4">
                                <div class="my-contact">
                                    <div class="contact-icon">
                                        <span class="icon-profile-female"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Name: </h4>
                                        <p>{{ user.first_name ~" "~ user.last_name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-4">
                                <div class="my-contact">
                                    <div class="contact-icon">
                                        <span class=" icon-envelope"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Email: </h4>
                                        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-4">
                                <div class="my-contact">
                                    <div class="contact-icon">
                                        <span class=" icon-phone"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Phone: </h4>
                                        <p>{% if user.phone %}
                                                <a href="tel:{{ user.phone }}">{{ user.phone }}</a>
                                            {% else %}
                                                <a href="/profile/edit_profile">add</a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12 col-sm-4">
                                <div class="my-contact">
                                    <div class="contact-icon">

                                        <span class="icon-calendar"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Date of Birth: </h4>
                                        <p>{% if user.d_o_b %}
                                                {{ user.d_o_b|date("d M Y") }}
                                            {% else %}
                                                <a href="/profile/edit_profile">add</a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-4">
                                <div class="my-contact">
                                    <div class="contact-icon">
                                        <span class="icon-map-pin"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Address: </h4>
                                        <p>{% if user.address or user.provience or user.country %}
                                                {{ user.address ~" "~ user.provience ~" "~ user.country  }}
                                            {% else %}
                                                <a href="/profile/edit_profile">add</a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-4">
                                <div class="my-contact">
                                    <div class="contact-icon">
                                        <span class="icon-flag"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Last Education: </h4>
                                        <p>{% if user.last_education %}
                                                {{ user.last_education }}
                                            {% else %}
                                                <a href="/profile/edit_profile">add</a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heading-inner">
                            <p class="title">About Me</p>
                        </div>
                        <p>{{ user.about_me|default("Describe yourself!") }}</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="resume-box">
                        <div class="heading-inner">
                            <p class="title">Educational Information</p>
                        </div>
                        {% if education|length == 0 %}
                            <h4 class="search-result-text"><a href="/profile/edit_profile">Add Education Details</a></h4>
                        {% endif %}
                        {% for edu in education %}
                            <div class="row education-box">
                                <div class="col-md-4 col-xs-12 col-sm-4">
                                    <div class="resume-icon">
                                        <span class="icon-clipboard"></span>
                                    </div>
                                    <div class="insti-name">
                                        <h4> {{ edu.college|e }} </h4>
                                        <span>{{ edu.start_date?edu.start_date|date("d M Y") }} to
                                            {% if edu.end_date.timestamp is defined %}
                                                {{ edu.end_date?edu.end_date|date("d M Y") }}
                                            {% else %}
                                                {{ edu.end_date }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 col-sm-8">
                                    <div class="degree-info">
                                        <h4>{{ edu.title|e }}</h4>
                                        <p>{{ edu.description|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="resume-box">
                        <div class="heading-inner">
                            <p class="title">Work Experience</p>
                        </div>
                        {% if experience|length == 0 %}
                            <h4 class="search-result-text"><a href="/profile/edit_profile">Add Experience Details</a></h4>
                        {% endif %}
                        {% for exp in experience %}
                            <div class="row education-box">
                                <div class="col-md-4 col-xs-12 col-sm-4">
                                    <div class="resume-icon">
                                        <span class="icon-pencil"></span>
                                    </div>
                                    <div class="insti-name">
                                        <h4>{{ exp.company|e }}</h4>
                                        <span>{{ exp.start_date?exp.start_date|date("d M Y") }} to
                                            {% if exp.end_date.timestamp is defined %}
                                                {{ exp.end_date?exp.end_date|date("d M Y") }}
                                            {% else %}
                                                {{ exp.end_date }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-8 col-sm-8">
                                    <div class="degree-info">
                                        <h4>{{ exp.profile|e }}</h4>
                                        <p>{{ exp.description|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="heading-inner">
                        <p class="title">Skills/Certifications</p>
                    </div>
                    {% if skills|length == 0 %}
                        <h4 class="search-result-text"><a href="/profile/edit_profile">Add your skills</a></h4>
                    {% endif %}
                    <div class="row">
                        {% for skill in skills %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                    <span class="progress-type">{{ skill.name|e }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if verified == 0 %}
    <script type="text/javascript">
    setTimeout(function(){
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-center",
            "progressBar": true,
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "extendedTimeOut": "0",
            "timeOut": "0",
        }
        toastr.error("<a href='javascript:void(0)' onclick='window.common.verifyEmail()'>Please verify your email </br>Click here to resend verification email.</a>");
    },500);
    </script>
{% endif %}
{% endblock %}