{% extends "index.twig" %}

{% block content %}

<section class="dashboard-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3 col-sm-3 col-xs-12"></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="heading-inner first-heading">
                        <p class="title">Rest Password</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="profile-edit row">
                            <form method="post" action="/home/resetPassword/{{ qs|raw }}">
                                <input type="hidden" name="qs" value="{{ qs|raw }}" />
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>New Password <span class="required"></span></label>
                                        <div class="register_error">{{ errors.new_password|raw }}</div>
                                        <input type="password" name="new_password" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Confirm Password <span class="required"></span></label>
                                        <div class="register_error">{{ errors.con_password|raw }}</div>
                                        <input type="password" name="con_password" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <input class="btn btn-default pull-right" name="update" type="submit" value="Update Password" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12"></div>
            </div>
        </div>
    </div>
</section>
{% if message != empty %}
<script type="text/javascript">
    setTimeout(function(){
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-center",
            "progressBar": true,
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.{{ alert|raw }}("{{ message|e }}",{timeOut: 5000});
    },200);
</script>
{% endif %}
{% endblock %}