<div class="col-md-3 col-sm-3 col-xs-12">
    <div class="profile-nav">
        <div class="panel">
            <ul class="nav nav-pills nav-stacked">
                <li class="{{ page=='dashboard'?'active' }}">
                    <a href="/admin"><i class="fa fa-user"></i> Dashboard</a>
                </li>
                <li class="{{ page=='jobs'?'active' }}">
                    <a href="/admin/jobs"><i class="fa fa-user"></i> Jobs</a>
                </li>
                <li class="{{ page=='courses'?'active' }}">
                    <a href="/admin/courses"><i class="fa fa-user"></i> Courses</a>
                </li>
                <li class="{{ page=='candidates'?'active' }}">
                    <a href="/admin/candidates"><i class="fa fa-user"></i> Candidates</a>
                </li>
                <li class="{{ page=='employers'?'active' }}">
                    <a href="/admin/employers"><i class="fa fa-user"></i> Employers</a>
                </li>
                <li class="{{ page=='postjob'?'active' }}">
                    <a href="/admin/postjob"> <i class="fa fa-edit"></i> Post job</a>
                </li>
            </ul>
        </div>
    </div>
</div>