{% extends "index.twig" %}

{% block navigation %}
    {% include 'admin/admin_navigation.twig' %}
{% endblock %}

{% block content %}

<section class="dashboard-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% include 'admin/admin_sidebar.twig' %}
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="heading-inner first-heading">
                        <p class="title">Approve/Disapprove Courses</p>
                    </div>
                    <div class="all-jobs-list-box2">
                        {% if courses|length == 0 %}
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <h4 class="search-result-text">There are no more courses to approve</h4>
                            </div>
                        {% endif %}
                        {% for course in courses %}
                            <div class="job-box job-box-2 expire-box ribbon-content">
                                <div class="job-title-box">
                                    <a href="/admin/courseinfo/{{ course.id }}">
                                        <div class="job-title">{{ course.title}}</div>
                                    </a>
                                    <a href="#"><span class="comp-name">{{ course.company_name }}</span></a>
                                    <a href="" class="job-type jt-full-time-color">
                                        <i class="fa fa-clock-o"></i> Full time
                                    </a>
                                </div>
                                <div class="expire-job-box">
                                    {# <span class="expire-date"> This job will Expire on <strong>{{ course.last_date|date("d M, Y") }}</strong></span> #}
                                    <span class="pull-right">
                                        <a href="javascript:void(0)" data-id="{{ course.id }}" onclick="window.su.approveCourse(this)" class="btn btn-info"> Approve Course</a>
                                        <a href="javascript:void(0)" onclick="jQuery('#courseid').val({{ course.id }})" data-toggle="modal" data-target="#myModal" class="btn btn-danger"> Disapprove Course</a>
                                    </span>
                                </div>                            
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade apply-job-modal" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body contact-form-container">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                <div class="job-modal">
                    <h2>Equery About Course</h2>
                </div>
                <form id="job-form">
                    <input id="courseid" type="hidden" name="courseid" value="" />
                    <div class="row clearfix">
                        <div class="column col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control" readonly="true" name="subject" value="Job disapproved" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" rows="6" class="form-control" placeholder="Write your message" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="text-center">
                                <button type="button" onclick="window.su.disapproveCourse()" class="btn btn-default btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% embed "footer.twig" %}
        {% block customScripts %}
            <script type="text/javascript" src="/js/suser.js"></script>
        {% endblock customScripts%}
    {% endembed %}
{% endblock %}